<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="w3manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="w3manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <w3manager.Properties.Settings>
            <setting name="CourseIDPattern" serializeAs="String">
                <value>^[A-Za-z]{2,3}\d{4}$</value>
            </setting>
            <setting name="PhonePattern" serializeAs="String">
                <value>^(\d{3}\.){2}\d{4}$</value>
            </setting>
            <setting name="ZipPattern" serializeAs="String">
                <value>^\d{5}$</value>
            </setting>
            <setting name="CurrencyPattern" serializeAs="String">
                <value>^\d+\.\d{2}</value>
            </setting>
            <setting name="NamePattern" serializeAs="String">
                <value>^[A-Za-z]+(\s[A-Za-z]+)*$</value>
            </setting>
            <setting name="DatePattern" serializeAs="String">
                <value>^\d{2}/\d{2}/\d{4}$</value>
            </setting>
            <setting name="IDPattern" serializeAs="String">
                <value>^\d{5,7}$</value>
            </setting>
            <setting name="PhonePatternLabel" serializeAs="String">
                <value>xxx.xxx.xxxx</value>
            </setting>
        </w3manager.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <w3manager.Properties.Settings>
            <setting name="DatabasePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ErrorLoggingLevel" serializeAs="String">
                <value>4</value>
            </setting>
        </w3manager.Properties.Settings>
    </userSettings>
</configuration>